/* index.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: rgba(2, 72, 124, 1);
  --secondary-color: #009fe3;
  --font-family: 'Poppins', sans-serif;
  --button-bg-color: #009fe3;
  --button-text-color: #fff;
  --primary-linear-gradiant: linear-gradient(
    180.97deg,
    #095387 0.83%,
    #035182 35.25%,
    #0e6595 79.01%,
    #1983ba 99.17%
  );
  --body-background-color: rgba(246, 246, 246, 1);
  --button-border-color:border: 5px solid;

  --border-image-source: linear-gradient(270deg, #BD00FF 0%, #DB00FF 38.5%, #01B3FF 100%);
  --light-blue-color: rgba(131, 124, 255, 1);
  --orange:rgba(245, 91, 3, 1);
  --input-border:rgba(213, 213, 213, 1);
  --max-width:1200px;
  --input-width:350px;
  --input-border-radius:20px;

  
  
}

body {
  font-family: var(--font-family);
  background: var(--body-background-color);
}

/* src/index.css */
.swiper-pagination-bullet {
  background-color: #fff; /* Pagination bullet color */
}

.swiper-pagination-bullet-active {
  background-color: #0070f3; /* Active pagination bullet color */
}

.swiper-button-next,
.swiper-button-prev {
  color: #0070f3; /* Navigation arrow color */
}


/* h1{
  font-size: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);

}
h2{
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, 1);
}
h3{
  font-size: 20px;
  font-weight: 600;
}
label{
  font-size: 18px;
  font-weight: 600;
}
p{
  font-size: 14px;
  font-weight: 400;
} */


/* button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-color);
} */
